.episode_item {
  background-color: #fff;
  max-width: 570px;
  min-height: 250px;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 3px solid black;

  & shadow {
    background: #8d4848;
  }
}

.item__top {
  display: flex;
  color: #cd4631;
  img {
    width: 166px;
    height: 166px;
    margin-right: 20px;
  }

  .item__top-data {
    padding-top: 16px;
    span {
      font-size: 16px;
      font-weight: 700;
    }
    h3 {
      font-size: 22px;
    }

    p {
      color: #4d4d4d;
      line-height: 160%;
      padding-top: 10px;
      border-top: 1px solid #4d4d4d;
    }
  }
}

.item__bottom {
  display: flex;
  justify-content: space-between;

  .tags {
    display: flex;
  }

  .item-tag {
    border: 1px solid #4d4d4d;
    margin-right: 10px;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: #4d4d4d;
    }
  }

  .hosted {
    display: flex;
    align-items: center;

    span {
      font-size: 12px;
      font-weight: 700;
      margin-right: 10px;
    }
    img {
      width: 26px;
      border-radius: 50%;
      border: 2px solid white;

      &:last-child {
        margin-left: -10px;
      }
    }
  }
}

.shadow {
  box-shadow: 8px 8px 0px 0px #81adc8d2;
}

@media (max-width: 400px) {
  .item__top {
    display: flex;
    color: #cd4631;
    min-height: 150px;
    img {
      width: 126px;
      height: 126px;
      margin-right: 20px;
    }

    .item__top-data {
      padding-top: 16px;
      position: relative;
      span {
        font-size: 16px;
        font-weight: 700;
      }
      h3 {
        font-size: 20px;
      }

      p {
        color: #4d4d4d;
        line-height: 160%;
        padding-top: 10px;
        border-top: 1px solid #4d4d4d;
      }
    }
  }
}
