*{
  --mainBG: #F7EDE8;
--mainGradient: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(247, 237, 232, 1) 50%,
  rgba(255, 255, 255, 1) 100%
);

--secondGradient: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 0%,
 #edf3f7,
  rgba(255, 255, 255, 1) 100%
);

--colorAccent: #CD4631;
--colorTextAccent: #81ADC8;

}

body {
margin: 0 auto;
padding: 0;
font-family: "Montserrat Alternates", sans-serif;
min-width: 320px;
max-width: 1800px;


}

.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  
}

.container__out{
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

 
  position: relative;

 

  
}

h1, h2, h3, h4{
  margin: 0;
}

h1{
  font-size: 96px;
  letter-spacing: -4px;
 
}

h2{
  font-size: 59px;
  letter-spacing: -2px;
  line-height: 120%;
  text-align: center;
}

.spiner_loading{

  padding-top: 10%;
}


@media (max-width: 1024px){
  .container{
    max-width: 980px;
    margin: 0 auto;
   
  }
}



@media (max-width: 375px){

  .main{
  
  }
 
  .container{
  
    margin: 0 auto;

  }
}


